In [78]:
library("readr")
library("dplyr")

In [79]:
df = read.csv("athlete_events.csv")
head(df)

  ID Name                     Sex Age Height Weight Team           NOC
1 1  A Dijiang                M   24  180    80     China          CHN
2 2  A Lamusi                 M   23  170    60     China          CHN
3 3  Gunnar Nielsen Aaby      M   24   NA    NA     Denmark        DEN
4 4  Edgar Lindenau Aabye     M   34   NA    NA     Denmark/Sweden DEN
5 5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
6 5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
  Games       Year Season City      Sport
1 1992 Summer 1992 Summer Barcelona Basketball
2 2012 Summer 2012 Summer London    Judo
3 1920 Summer 1920 Summer Antwerpen Football
4 1900 Summer 1900 Summer Paris     Tug-Of-War
5 1988 Winter 1988 Winter Calgary   Speed Skating
6 1988 Winter 1988 Winter Calgary   Speed Skating
  Event                              Medal
1 Basketball Men's Basketball        NA
2 Judo Men's Extra-Lightweight       NA
3 Football Men's Football            NA
4 Tug-Of-War Men's Tug-Of-War        Gold
5 Speed Skating Women's 500 metres   NA
6 Speed Skating Women's 1,000 metres NA

In [80]:
# fill in the missing values in Height by the mean height of each group - where grouped by Sport:

df = df %>% group_by(Sport) %>% mutate(Height = 
                                  ifelse(is.na(Height), 
                                         mean(Height, na.rm = TRUE), 
                                         Height))

### Documentation about the ifelse() function can be found here:
https://www.datamentor.io/r-programming/ifelse-function/

In [81]:
# some sports have all missing heights so there will still be missing heights after
anyNA(df$Height)

[1] TRUE

In [84]:
df = df %>% mutate(Height = 
              ifelse(is.na(Height), 
                     mean(df$Height, na.rm=T), # have to use mean(df$Height) not mean(Height) because ifelse looks at the x[i] value, which the mean would be NaN because the x[i] value is NaN
                     Height))